/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
p { margin-top: 0; }

.right {
	float: right;
	margin-left: 15px;
}

.center {
	float: center;
}


.frame {
	padding: 5px;
}


/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
}

/*	****************************************
	Formatting
	**************************************** */

h1 {
	font-family: 'Josefin Slab', serif;
	font-size: 28px;
}

h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 26px;
	text-align: left;
}

h3 {
	font-family: 'Josefin Slab', serif;
	font-size: 22px;
	text-align: left;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	text-align: left;
}

td {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	text-align: left;
}

.third{
	display: inline-block;
	width:30%;
	margin: 0 1%;
}